@import './breakpoints';

html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Spectral', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
